<form asp-action="Index">
    <label>Nhap so luong:</label>
    <input type="text"name="SoLuong">
    <label>Nhap don gia:</label>
    <input type="text"name="DonGia">
    <input type="submit" value="Tinh tien">
</form>
<h1>Thanh tien: @ViewBag.HDResult</h1>