@{
    ViewData["Title"] = "Index";
}
<form asp-action="index">
    <label>Nhập số lượng: </label>
    <input type="text" name="SoLuong" />
    <label>Nhập đơn giá: </label>
    <input type="text" name="DonGia" />
    <input type="submit" value="Gửi dữ liệu" />
</form>

<h1>@ViewBag.Message1</h1>
<h1>@ViewBag.Message2</h1>