<form asp-action="Index">
    <label>Nhap Chieu Cao(m):</label>
    <input type="text" name="Height">
    <label>Nhap Can Nang(kg):</label>
    <input type="text" name="Weight">
    <input type="submit" value="Tinh BMI">
</form>
<h1>Chỉ số BMI của bạn là: @ViewBag.BMIResult</h1>