<form asp-action="Index">
    <label>Nhap diem A:</label>
    <input type="text" name="DiemA">
    <label>Nhap diem B:</label>
    <input type="text" name="DiemB">
    <label>Nhap diem C:</label>
    <input type="text" name="DiemC">
    <input type="submit" value="Tinh diem">
</form>
<h1>Diem trung binh mon hoc cua ban la: @ViewBag.ScoreResult</h1>