@{
    ViewData["Title"] = "Index";
}
    <form asp-action="index">
    <label>Nhập điểm A: </label>
    <input type="text" name="DiemA" />
    <label>Nhập điểm B: </label>
    <input type="text" name="DiemB" />
    <label>Nhập điểm C: </label>
    <input type="text" name="DiemC" />
    <input type="submit" value="Gửi dữ liệu" />
</form>

<h1>@ViewBag.Message1</h1>
<h1>@ViewBag.Message2</h1>